{% extends 'web/team/layout_team.html.twig' %}

{% block page_head %}
    {{ parent() }}

    <meta name="turbo-cache-control" content="no-cache">
{% endblock %}

{% block team_body %}
    <div class="col">
        <h2 class="team-show-title">
            <a href="{{ path('teams_show_session', {'teamId': team.id, 'sessionId': session.id}) }}" class="link-no-style">
                Session: {{ session.createdAt|date('d/m/Y') }}
            </a>
        </h2>
    </div>
    <div class="col achievement-assign-container" data-controller="achievement-assign">
        {{ form(form) }}

        <div class="achievement-assign-confirm-container">
            <div class="row">
                <div class="col-8">
                    <p>
                        Member: <span class="achievement-assign-member-confirm-text"></span>
                    </p>
                    <p>
                        Achievement: <span class="achievement-assign-achievement-confirm-text"></span>
                    </p>
                </div>
                <div class="col-4">
                    <button class="btn btn-secondary" data-action="click->achievement-assign#reset">
                        Reset
                    </button>
                </div>
            </div>
        </div>

        <div class="achievement-assign-member-container">
            {{ turboFrame(
                '_frame_achievement_assign_member_' ~ session.id,
                path('_frame_achievement_assign_member', {'teamId': team.id, 'sessionId': session.id})
            ) }}
        </div>
        <div class="achievement-assign-achievement-container">
            {{ turboFrame(
                '_frame_achievement_assign_achievement_' ~ session.id,
                path('_frame_achievement_assign_achievement', {'teamId': team.id, 'sessionId': session.id})
            ) }}
        </div>

        <div class="achievement-assign-submit-container text-center">
            <button class="btn btn-primary" data-action="click->achievement-assign#submit">
                Submit
            </button>
        </div>
    </div>
{% endblock %}
