{% extends 'web/team/layout_team.html.twig' %}

{% block before_content %}
    {# Floating button #}
    <div class="assign-achievement-container"></div>
    <div class="session-floating-button-container">
        <a class="btn btn-success btn-circle" href="{{ path('teams_assign_achievement', {'teamId': team.id, 'sessionId': session.id}) }}">
            <i class="fa fa-plus fa-2x"></i>
        </a>
    </div>
{% endblock %}

{% block team_body %}
    <div class="col">
        <h2 class="team-show-title">
            Session: {{ session.createdAt|date('d/m/Y') }}
        </h2>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="hstack gap-2">
                    <h5 class="card-title">Active Games</h5>
                    <div class="ms-auto">
                        <a href="{{ path('teams_create_session_game', {'teamId': team.id, 'sessionId': session.id}) }}" class="btn btn-primary">
                            New
                        </a>
                    </div>
                </div>
                <div class="card-with-btn-content-container">
                    {{ turboFrame(
                        '_frame_session_active_games_list_' ~ session.id,
                        path('_frame_session_games_list', {
                            'teamId': team.id,
                            'sessionId': session.id,
                            'status': 'opened'
                        })
                    ) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Members</h5>
                {{ turboFrame(
                    '_frame_session_members_list_' ~ session.id,
                    path('_frame_session_members_list', {'teamId': team.id, 'sessionId': session.id})
                ) }}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Games History</h5>
                {{ turboFrame(
                    '_frame_session_games_history_list_' ~ session.id,
                    path('_frame_session_games_list', {
                        'teamId': team.id,
                        'sessionId': session.id,
                        'status': 'closed'
                    })
                ) }}
            </div>
        </div>
    </div>
{% endblock %}
