<div class="table-responsive">
    <table class="table">
        <thead class="text-primary">
        <tr>
            <th>Email</th>
            <th>Access Level</th>
            <th>Status</th>
            <th>Expires At</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        {% for teamInvite in teamInvites %}
            <tr>
                <td>{{ teamInvite.email }}</td>
                <td>{{ teamInvite.accessLevel.value }}</td>
                <td>
                    {{ renderComponentBadge(teamInvite.status) }}
                </td>
                <td>{{ teamInvite.expiresAt|date('d/m/Y, H:i:s') }}</td>
                <td>{{ teamInvite.createdAt|date('d/m/Y, H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>