<div class="row row-cols-2 g-2">
    {% for sessionMember in sessionMembers %}
        {% set clickAction = 'data-action="click->achievement-assign#setTeamMemberInputValue" data-member-id="' ~ sessionMember.teamMember.id ~ '"' %}

        <div class="col" {{ clickAction|raw }}>
            <div class="card achievement-assign-card achievement-assign-card-member" {{ clickAction|raw }}>
                <div class="card-body text-center" {{ clickAction|raw }}>
                    <div>
                        <div class="photo-container" {{ clickAction|raw }}>
                            <div class="photo" {{ clickAction|raw }}>
                                <img src="{{ sessionMember.teamMember.user.picture }}"
                                     alt="{{ sessionMember.teamMember.user.name }}" {{ clickAction|raw }}>
                            </div>
                        </div>
                        <div {{ clickAction|raw }}>
                            <h4 class="card-title" {{ clickAction|raw }}>
                                {{ sessionMember.teamMember.user.name }}
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
