<div class="row row-cols-2 g-2">
    {% for sessionMember in sessionMembers %}
        <div class="col"
             data-action="click->achievement-assign#setTeamMemberInputValue"
             data-member-id="{{ sessionMember.teamMember.id }}"
        >
            <div class="card"
                 data-action="click->achievement-assign#setTeamMemberInputValue"
                 data-member-id="{{ sessionMember.teamMember.id }}"
            >
                <div class="card-body text-center"
                     data-action="click->achievement-assign#setTeamMemberInputValue"
                     data-member-id="{{ sessionMember.teamMember.id }}"
                >
                    <div class="photo-container"
                         data-action="click->achievement-assign#setTeamMemberInputValue"
                         data-member-id="{{ sessionMember.teamMember.id }}"
                    >
                        <div class="photo"
                             data-action="click->achievement-assign#setTeamMemberInputValue"
                             data-member-id="{{ sessionMember.teamMember.id }}"
                        >
                            <img src="{{ sessionMember.teamMember.user.picture }}"
                                 alt="{{ sessionMember.teamMember.user.name }}"
                                 data-action="click->achievement-assign#setTeamMemberInputValue"
                                 data-member-id="{{ sessionMember.teamMember.id }}"
                            >
                        </div>
                    </div>
                    <div>
                        <h4 class="card-title"
                            data-action="click->achievement-assign#setTeamMemberInputValue"
                            data-member-id="{{ sessionMember.teamMember.id }}"
                        >
                            {{ sessionMember.teamMember.user.name }}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
